.main-page-container {
  display: flex;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 32px 0;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(184,184,184,1);
  -moz-box-shadow: 3px 5px 5px 0px rgba(184,184,184,1);
  box-shadow: 3px 5px 5px 0px rgba(184,184,184,1);
}

.main-page-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  h1 {
    margin: 5px 0px;
  }
  .shrug {
    height: 104px;
    width: 100px;
    background-size: 100%;
    background-image: url('/shrug.png');
    background-repeat: no-repeat;
  }
}

.make-this-gray {
  color: #5f5d5d;
}

.category-container {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #cdc9c9;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.category-display {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0;
}

.autocomplete-container {
  position: relative;
  font-family: inherit;
  font-size: 16px;
}

.autocomplete-input {
  border-radius: 0;
  width: 200px;
  box-sizing: border-box;
}

.autocomplete-dropdown-list {
  margin: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  top: 80%;
  min-width: 200px;
  z-index: 2;
  &.hidden {
    display: none;
  }
}

.autocomplete-dropdown-item {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: white;
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
  height: 40px;
  width: 200px;
  padding: 0.5em;
  box-sizing: border-box;
  &.focus, &:hover {
    background-color: lightcyan;
  }
  &:first-child {
    border-top: 1px solid rgb(163, 163, 163);
  }
}

.join {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  h2 {
    margin-bottom: 0.25em;
  }
  input {
    border-radius: 0;
    width: 100%;
  }
}

.radius-container {
  margin: 32px 0;
  padding: 32px 0;
  border-top: 1px solid #cdc9c9;
  border-bottom: 1px solid #cdc9c9;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radius-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.radius-display {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}

.radius-input {
  padding: 0;
  width: 200px;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: none;
    box-shadow: unset;
  }
}

.geo-container {
  display: inline-block;
  background-color: white;
  padding: 35px;
  border-radius: 0.25rem;
  // text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.geo-close-modal-button-box {
  display: flex;
  justify-content: flex-end;
  margin-top: -22px;
  margin-bottom: 16px;
  margin-right: -22px; 
}

.geo-box-text {
  color: rgb(145, 143, 143);
}
