@import "vars";

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $text-default;
    font-size: 13px;
    margin: 0;
    background: $background-color;
}

$themes: (
    theme: $color-theme,
    primary: $color-primary,
    secondary: $color-secondary,
    success: $color-success,
    warning: $color-warning,
    danger: $color-danger,
    muted: $color-muted
);



@mixin button-theme($button-color) {
    background-color: $button-color;
    color: white;
    &:focus {
        box-shadow: 0 0 0.25rem rgba($button-color, 0.5);
    }
    &:hover, &:focus {
        background-color: darken($button-color, 5%);
    }
    &:active {
        color: white;
        background-color: lighten($button-color, 3%);
    }
    &:disabled {
        background-color: lighten(desaturate($button-color, 50%), 10%);
        cursor: not-allowed;
    }
}

.button {
    display: block;
    outline: none;
    border: none;
    border-radius: $default-border-radius;
    padding: 0.75em 1.25em;
    line-height: 1;
    cursor: pointer;
    color: $text-default-secondary;
    background-color: $background-color;
    margin: 0.25em;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;

    &:active {
        text-decoration: none;
    }

    @each $theme, $color in $themes {
        &-#{$theme} {
            @include button-theme($color);
        }
    }

    &-login {
        @include button-theme($background-highlight-color);
        color: #0c465a;
        border: 1px solid #257089;
    }
}

.form-group {
    font-size: 1rem;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        margin-bottom: 0.5em;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        .hint {
            font-size: 0.75em;
        }
        & > * {
            margin-bottom: 0.1em;
        }
    }
}

@mixin input-theme($color) {
    border: 1px solid $color;
    &:focus {
        border-color: $color;
        box-shadow: 0 0 0.25rem rgba($color, 0.5);
        outline: $color;
    }
}

input, textarea {
    padding: 0.5em;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
    margin-bottom: 0.5em;

    &:focus {
        border-color: $color-primary;
        box-shadow: 0 0 0.25rem rgba($color-primary, 0.5);
        outline: $color-primary;
    }

    @each $theme, $color in $themes {
        &.#{$theme} {
            @include input-theme($color);
        }
    }
}

input {
    &:not([value=""]):invalid {
        @include input-theme($color-danger);
    }
}

textarea {
    resize: vertical;
    font-family: "Noto Sans Mono", monospace;

    &::-webkit-scrollbar {
        width: 0.5em;
        cursor: default;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-muted;
        border-radius: $default-border-radius;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-muted, 5%);
    }
}
