$background-color: #ffffff;
$background-color-light: #efefef;
$text-default: #333333;
$text-default-secondary: #848484;
$color-theme: #f43939;
$color-primary: #0e98db;
$color-secondary: #49adad;
$color-success: #4faa35;
$color-warning: #f6ba13;
$color-danger: #ef5440;
$color-muted: #cccccc;
$border-color: #a3a3a3;
$default-border-radius: 0.25rem;
$small-border-radius: 0.1rem;
$background-highlight-color: #e2edf1;
$default-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
