.restaurant-generator.restaurant-name {
  color: #F43939;
  font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 48px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}