.restaurant-generator.container {
  min-width: 600px;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
}

.restaurant-generator.restaurant-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-generator.close-modal-button-container {
  display: flex;
  justify-content: flex-end;
}

.restaurant-generator.close-modal-button {
  font-size: 13px;
  color: whitesmoke;
  border: none;
  border-radius: 2.5px;
  background-color: #f43939;
  padding: 1px 6px;
  cursor: pointer;
  outline: none;
}

.restaurant-generator.restaurant-name {
  font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 32px;
  font-weight: 900;
}

.restaurant-generator.rating-container {
  margin-bottom: 10px;
}

.stars {
  height: 37px;
  width: 200px;
  background-size: 100%;
  margin-bottom: 10px;
  &.n0 {
    background-image: url('/0_stars.png');
  }
  &.n1 {
    background-image: url('/1_stars.png');
  }
  &.n1-5 {
    background-image: url('/1_half_stars.png');
  }
  &.n2 {
    background-image: url('/2_stars.png');
  }
  &.n2-5 {
    background-image: url('/2_half_stars.png');
  }
  &.n3 {
    background-image: url('/3_stars.png');
  }
  &.n3-5 {
    background-image: url('/3_half_stars.png');
  }
  &.n4 {
    background-image: url('/4_stars.png');
  }
  &.n4-5 {
    background-image: url('/4_half_stars.png');
  }
  &.n5 {
    background-image: url('/5_stars.png');
  }
}

.restaurant-generator.details-container {
  display: flex;
  margin: 10px 0px;
  flex-wrap: wrap;
}

.restaurant-generator.category {
  margin: 0px 10px 5px 0px;
  border: 2px solid #f43939;
  color: #f43939;
  border-radius: 28px;
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  cursor: auto;
  &:hover {
    background-color: white;
    color: #f43939;
  }
}

.restaurant-generator.price-container {
  display: flex;
  align-items: center;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  border-radius: 28px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 2px;
  letter-spacing: 1.5px;
  &.gray {
    border-color: #c0c6d1;
  }
}

.restaurant-generator.price-denominator {
  color: #c0c6d1;
}

.restaurant-generator.contact-details-container {
  margin: 10px 0px;
}

.restaurant-generator.buttons-container {
  display: flex;
  justify-content: space-between;
}

.restaurant-generator.button-container {
  margin: 15px 15px 15px 0px;
  & button {
    font-family: inherit;
    font-size: 18px;
    outline: none;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75em 1.25em;
    line-height: 1;
    cursor: pointer;
    margin: 0.25em;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
    &:hover {
      filter: brightness(110%);
    }
  }
}

.restaurant-generator.accept button {
  background-color: #f43939;
  margin-right: 24px;
}
.restaurant-generator.reroll button {
  background-color: #f43939;
}

a {
  text-decoration: none;
  color: inherit;
}

.restaurant-generator.map {
  height: 190px;
  width: 295px;
}


.restaurant-generator.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-generrestator.restaurant-content {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.restaurant-generrestator.restaurant-map {
  margin-right: 25px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.restaurant-generator.restaurant-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.restaurant-generator.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 292px;
  // margin-top: 36px;
}

.restaurant-generator.restaurant-info {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-generator.contact-details-container {
  margin-left: 12px;
}

