// @import "./restaurant_history.jsx";

.restaurant-history {
    margin: 20px;
}

.history-title {
    margin: 25px;
}

.h-restaurant-container {
    height: 150px;
    margin-bottom: 25px;
    width: -webkit-fill-available;
    border: 1px solid #dedddd;
    padding: 20px;
    float: left;
    border-radius: 4px;
    margin-right: 20px;
}

.h-restaurant-picture {
    height: 150px;
    width: 150px;
    // border: .5px solid grey;
    float: left;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49adad;
}

.h-restaurant-name {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 3px;
    font-family: Poppins,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 900;
}

.h-restaurant-rating {
    float: left;
    font-size: 17px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #f43939
}

#h-restaurant-price {
// margin-bottom: 10px;
//     margin-right: 10px;
//     border: 2px solid #4CAF50;
//     color: #4CAF50;
//     border-radius: 28px;
//     padding-right: 10px;
//     padding-left: 10px;
//     font-size: 15px;
//     font-weight: 600;
//     cursor: pointer;
//     padding-top: 5px;
//     letter-spacing: 1.5px;
// padding-bottom: 10px;
}

.restaurant-generator.price-container {
    display: flex;
    align-items: center;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    border-radius: 28px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    letter-spacing: 1.5px;
}

.restaurant-generator.price-container:hover {
    background-color: #4CAF50;
    color: white;
}

.restaurant-generator.price-container:active {
    background-color: #f43939;
    color: white;
    border: 2px solid #f43939;
}

.h-restaurant-reviews {
    font-size: 14px;
    color: #737180;
    margin-top: 2px;
}

.h-restaurant-categories {
    display: flex;
    list-style: none;
    margin-top: 9px;
}

.category {
margin-bottom: 10px;
    margin-right: 10px;
    border: 2px solid #f43939;
    color: #f43939;
    border-radius: 28px;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.category:hover {
    background-color: #f43939;
    color: white;
}

.category:active {
    background-color: #49adae;
    color: white;
    border: 2px solid #49adae;
}

.temp-map {
    color: #f43939;
    font-size: 60px;
}


.contact {
    position: absolute;
    margin-top: 20px;
    margin-left: 170px;
    font-size: 13px;
    color: #737180;
    text-transform: capitalize;
}

.yelp {
    background-color: #f43939;
    color: white;
    border-radius: 34px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}
.yelp:active {
    color: rgb(247, 199, 7);
}

.yelp-icon {
    color: #d32324;
    /* background-color: pink; */
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    font-size: 28px;
}


.yelp-text {
    background-color: #f43939;
    color: white;
    border-radius: 34px 38px 38px 34px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 40px;
    position: absolute;
    z-index: -1;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding-top: 15px;
    height: 23px;
    // animation: fadeInRight .5s;
}
.yelp-text-off {
    display: none;
}


// @keyframes fadeInRight {
//    0% {
//       opacity: .5;
//       transform: translateX(5px);
//    }
//    100% {
//       opacity: 1;
//       transform: translateX(5px);
//    }
// } 
